<!---
Inspired by the pictures here: http://forum.enjoysudoku.com/locked-room-mazes-t30096.html
All code was written by Jonathan Shahen
Copyright 2020 Jonathn Shahen
//-->
<script src="locked-room-maze.js"></script>

<canvas id="maze1Canvas"></canvas>
<hr />
<canvas id="maze3Canvas"></canvas>
<canvas id="maze2Canvas"></canvas>

<pre style="display:none;" id="maze1String">
    ;w   ;S    ;w   ;    ;w   ;k013;w   ;    ;w015;    ;w   ;    ;w   ;    ;w002;    ;w-15;    ;w   ;    ;w007;    ;
w001;    ;    ;    ;    ;    ;w001;    ;    ;    ;w002;    ;w005;    ;w   ;    ;w014;    ;w   ;    ;w004;    ;w   ;
    ;    ;k001;    ;k016;w   ;k014;w001;    ;w   ;k018;w010;    ;w   ;    ;w002;    ;w006;k004;w015;    ;w   ;    ;
w001;    ;w   ;    ;    ;    ;    ;    ;w001;    ;    ;    ;w   ;    ;w013;    ;w015;    ;w   ;    ;w   ;    ;    ;
    ;w   ;    ;w013;    ;    ;k002;w   ;    ;w001;k007;w   ;    ;w   ;k005;w014;k015;w014;    ;    ;k014;    ;    ;
w007;    ;w   ;    ;w018;    ;w002;    ;w   ;    ;    ;    ;w001;    ;w002;    ;    ;    ;w   ;    ;    ;    ;w   ;
k017;w   ;    ;w018;    ;w   ;    ;w018;    ;w018;k002;    ;    ;w   ;    ;w   ;    ;w   ;    ;w014;k006;w016;    ;
    ;    ;w   ;    ;    ;    ;w001;    ;w   ;    ;    ;    ;w   ;    ;    ;    ;w   ;    ;    ;    ;    ;    ;w   ;
    ;w009;    ;w   ;    ;w   ;    ;w   ;    ;w007;    ;    ;    ;    ;    ;w006;    ;w014;    ;w   ;    ;w002;    ;
w007;    ;w   ;    ;w   ;    ;w   ;    ;    ;    ;w015;    ;    ;    ;w018;    ;w   ;    ;w   ;    ;    ;    ;w021;
    ;w   ;    ;w   ;    ;w   ;    ;    ;    ;w   ;    ;w   ;    ;w017;k006;w   ;    ;w   ;    ;w007;    ;w   ;    ;
w   ;    ;    ;    ;    ;    ;    ;    ;w   ;    ;    ;    ;    ;    ;w021;    ;w012;    ;w   ;    ;w   ;    ;w   ;
    ;    ;    ;w010;    ;    ;    ;w018;    ;w001;k012;w021;    ;    ;    ;    ;    ;w001;    ;    ;    ;w   ;    ;
w012;    ;w   ;    ;w   ;    ;w020;    ;    ;    ;w005;    ;w   ;    ;    ;    ;w016;    ;w   ;    ;w   ;    ;    ;
    ;w   ;    ;w019;    ;w   ;k011;    ;    ;w019;    ;w019;    ;w   ;    ;w010;    ;w   ;    ;w   ;    ;    ;    ;
    ;    ;w005;    ;w   ;    ;    ;    ;w019;    ;w   ;    ;    ;    ;    ;    ;w021;    ;w014;    ;w001;    ;w   ;
    ;w   ;k020;w020;    ;w019;    ;w019;    ;    ;    ;w   ;    ;w017;k021;w   ;k009;    ;    ;w   ;    ;w016;G   ;
    ;    ;w019;    ;w   ;    ;w   ;    ;w   ;    ;    ;    ;w017;    ;    ;    ;w   ;    ;w   ;    ;w010;    ;w   ;
    ;    ;    ;    ;    ;w008;k015;w   ;    ;w   ;    ;w   ;k003;    ;    ;w010;    ;w   ;    ;    ;    ;w017;    ;
    ;    ;    ;    ;    ;    ;w   ;    ;w013;    ;w   ;    ;    ;    ;w   ;    ;w017;    ;    ;    ;w   ;    ;    ;
k019;w   ;    ;w   ;    ;w   ;k008;w   ;    ;w011;    ;w   ;    ;w002;    ;    ;    ;w017;k010;    ;k017;w   ;    ;
w   ;    ;    ;    ;w   ;    ;w005;    ;    ;    ;w   ;    ;    ;    ;w   ;    ;w003;    ;    ;    ;w010;    ;    ;
    ;w020;    ;w019;k005;    ;k013;w020;    ;    ;    ;w   ;    ;w005;    ;w   ;    ;w   ;    ;w   ;    ;w   ;    ;
</pre>
<pre style="display:none;" id="maze3String">
    ;w   ;S   ;w   ;    ;w   ;    ;w   ;    ;    ;    ;w   ;    ;w   ;    ;    ;    ;    ;    ;w   ;    ;    ;    ;
    ;    ;    ;    ;    ;    ;    ;    ;    ;    ;    ;    ;    ;    ;w   ;    ;    ;    ;w   ;    ;    ;    ;w   ;
    ;    ;    ;    ;    ;w   ;    ;    ;    ;w   ;    ;    ;    ;w   ;    ;    ;    ;    ;    ;    ;    ;w   ;    ;
    ;    ;w   ;    ;    ;    ;    ;    ;    ;    ;    ;    ;w   ;    ;    ;    ;    ;    ;w   ;    ;w   ;    ;    ;
    ;w   ;    ;    ;    ;    ;    ;w   ;    ;    ;    ;w   ;    ;w   ;    ;    ;    ;    ;    ;    ;    ;    ;    ;
    ;    ;w   ;    ;    ;    ;    ;    ;w   ;    ;    ;    ;    ;    ;    ;    ;    ;    ;w   ;    ;    ;    ;w   ;
    ;w   ;    ;    ;    ;w   ;    ;    ;    ;    ;    ;    ;    ;w   ;    ;w   ;    ;w   ;    ;    ;    ;    ;    ;
    ;    ;w   ;    ;    ;    ;    ;    ;w   ;    ;    ;    ;w   ;    ;    ;    ;w   ;    ;    ;    ;    ;    ;w   ;
    ;    ;    ;w   ;    ;w   ;    ;w   ;    ;    ;    ;    ;    ;    ;    ;    ;    ;    ;G   ;w   ;    ;    ;    ;
    ;    ;w   ;    ;w   ;    ;w   ;    ;    ;    ;    ;    ;    ;    ;    ;    ;w   ;    ;w   ;    ;    ;    ;    ;
    ;w   ;    ;w   ;    ;w   ;    ;    ;    ;w   ;    ;w   ;    ;    ;    ;w   ;    ;w   ;    ;    ;    ;w   ;    ;
</pre>
<pre style="display:none;" id="maze2String">
    ;w   ;S    ;w   ;    ;w   ;k013;w   ;    ;w015;    ;w   ;    ;w   ;    ;w002;    ;w-15;    ;w   ;    ;w007;    ;
w001;    ;    ;    ;    ;    ;w001;    ;    ;    ;w002;    ;w005;    ;w   ;    ;w014;    ;w   ;    ;w004;    ;w   ;
    ;    ;k001;    ;k016;w   ;k014;w001;    ;w   ;k018;w010;    ;w   ;    ;w002;    ;w006;k004;w015;    ;w   ;    ;
w001;    ;w   ;    ;    ;    ;    ;    ;w001;    ;    ;    ;w   ;    ;w013;    ;w015;    ;w   ;    ;w   ;    ;    ;
    ;w   ;    ;w013;    ;    ;k002;w   ;    ;w001;k007;w   ;    ;w   ;k005;w014;k015;w014;    ;    ;k014;    ;    ;
w007;    ;w   ;    ;w018;    ;w002;    ;w   ;    ;    ;    ;w001;    ;w002;    ;    ;    ;w   ;    ;    ;    ;w   ;
k017;w   ;    ;w018;    ;w   ;    ;w018;    ;w018;k002;    ;    ;w   ;    ;w   ;    ;w   ;    ;w014;k006;w016;    ;
    ;    ;w   ;    ;    ;    ;w001;    ;w   ;    ;    ;    ;w   ;    ;    ;    ;w   ;    ;    ;    ;    ;    ;w   ;
    ;w009;    ;w   ;    ;w   ;    ;w   ;    ;w007;    ;    ;    ;    ;    ;w006;    ;w014;G   ;w   ;    ;w002;    ;
w007;    ;w   ;    ;w   ;    ;w   ;    ;    ;    ;w015;    ;    ;    ;w018;    ;w   ;    ;w   ;    ;    ;    ;w021;
    ;w   ;    ;w   ;    ;w   ;    ;    ;    ;w   ;    ;w   ;    ;w017;k006;w   ;    ;w   ;    ;w007;    ;w   ;    ;
</pre>

<script>
  var w = 50;
  var h = w;
  var padding_x = 10;
  var padding_y = 10;
  var doorPercent = 0.2;
  var key_font = '18px Arial';
  var door_font = '12px Arial';
  var border_thickness = 3;
  var wall_thickness = 2;
  var door_thickness = 2;

  make_maze(
    document.getElementById('maze1String').innerText,
    'maze1Canvas',
    w,
    h,
    padding_x,
    padding_y,
    doorPercent,
    key_font,
    door_font,
    border_thickness,
    wall_thickness,
    door_thickness
  );
  make_maze(
    document.getElementById('maze2String').innerText,
    'maze2Canvas',
    w,
    h,
    padding_x,
    padding_y,
    doorPercent,
    key_font,
    door_font,
    border_thickness,
    wall_thickness,
    door_thickness
  );
  make_maze(
    document.getElementById('maze3String').innerText,
    'maze3Canvas',
    w,
    h,
    padding_x,
    padding_y,
    doorPercent,
    key_font,
    door_font,
    border_thickness,
    wall_thickness,
    door_thickness
  );
</script>
